@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

body {
  font-family: "Source Sans Pro", sans-serif;
  color: white;
  background-color: #252730;
  scroll-behavior: smooth;
}

main.main-content {
  margin: 125px 15px auto 15px;
}

a {
  color: aqua;
}

h1 {
  font-size: 2.25rem;
}

.add {
  color: #ff8800;
}

.config {
  font-family: "Config Rounded", sans-serif;
}

.command-list li {
  border-bottom: 1px solid #ff7700;
}

.light-text {
  color: #aaaaaa;
}

.command {
  font-size: 1.1em;
  font-weight: bold;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 1em;
  margin: -23px;
  margin-top: 50px;
  background-color: #000;
}

footer>* {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

footer a {
  margin: 5px;
  text-decoration: none;
  color: #dddddd;
}

@font-face {
  font-family: "Config Rounded";
  font-style: normal;
  font-weight: normal;
  src: url("/config-rounded.otf") format("opentype");
}