@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Outfit&display=swap");

body {
  font-family: Inter, sans-serif;
  color: white;
  background-color: #252730;
  scroll-behavior: smooth;
  line-height: 1.5em;
}

main.page {
  margin: 125px 15px auto 15px;
}

.content {
  width: 80%;
  margin: 0 auto;
}

a {
  color: #00eeee;
}

::selection {
  background-color: #ff6000;
}

h1 {
  font-size: 2.25rem;
  font-family: Outfit, sans-serif;
  line-height: 2.5rem;
}

h2 {
  margin: 30px auto;
  font-family: Outfit, sans-serif;
}

.add {
  color: #ff8800;
}

.command-list li {
  border-bottom: 1px solid #ff7700;
}

.light-text {
  color: #aaaaaa;
}

.command {
  font-size: 1.1em;
  font-weight: bold;
}

footer {
  padding: 1rem;
  margin: -23px;
  margin-top: 150px;
  background-color: #000;
}

footer main {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 0 1.5rem;
}

footer main div {
  display: flex;
  flex-direction: column;
  margin: 10px 30px;
}

footer h5 {
  text-align: center;
  font-weight: normal;
  color: #b8b8b8;
  margin-bottom: 0;
  margin-top: 15px;
}

footer a {
  margin: 5px;
  text-decoration: none;
  color: #dddddd;
}
